*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
}

@font-face {
    font-family: "Arial-Italic";
    src: url(./assets/fonts/arial-italic.ttf);
}
@font-face {
    font-family: "Arial-Regular";
    src: url(../assets/fonts/arial-regular.ttf);
}
@font-face {
    font-family: "Georgia-Italic";
    src: url(../assets/fonts/georgia-italic.ttf);
}
@font-face {
    font-family: "Georgia-Regular";
    src: url(../assets/fonts/georgia-regular.ttf);
}
@font-face {
    font-family: "Georgia-Bold";
    src: url(../assets/fonts/georgia-bold.ttf);
}
/*-----------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 40px;
}
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: #ccffff;
}
.header__container {
    padding-top: 30px;
    
}
.header__first {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  .contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .language-switcher__button {
    font-size: 14px;
    line-height: 16px;
    color: #333;
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .language-switcher__button:hover {
    color: #0088cc;
  }
  
.header__logo img {
    width: 100px;
    height: 100px;
}
.header__logo h1 {
    font-family: 'Georgia-Bold';  
    font-size: 40px;
    color: rgb(0,117,184);
}
.contact-info__link img {
    width: 30px;
    height: 30px;
}
.contact-info a:link {
    color: black;
  }
.contact-info__link {
    font-family: 'Georgia-Bold';  
    font-size: 20px;
}
  
.phone-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: phoneRing 0.8s ease-in-out infinite;
  }
  
  @keyframes phoneRing {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(15deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-15deg);
    }
  }
  
@media (max-width: 770px) {
/* Стили для меню */
.menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }
  
  .menu__body._active {
    right: 0;
  }
  
  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu__item {
    margin-bottom: 10px;
  }
  
  .menu__link {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }

  
/* Стили для иконки бургер-меню */
.menu__icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 11;
  }
  
  .menu__icon span,
  .menu__icon span:before,
  .menu__icon span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
  }
  
  .menu__icon span:before {
    content: "";
    top: -10px;
  }
  
  .menu__icon span:after {
    content: "";
    bottom: -10px;
  }
  
  .menu__icon._active span {
    background-color: transparent;
  }
  
  .menu__icon._active span:before {
    transform: rotate(-45deg);
    top: 0;
  }
  
  .menu__icon._active span:after {
    transform: rotate(45deg);
    bottom: 0;
  }
  }
  
